<div id="<%= dom_id entry %>">
  <p>
    <strong>Category:</strong>
    <% @categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= entry.body %>
  </p>

</div>
