<p style="color: green"><%= notice %></p>

<h1>Entries</h1>

<div id="entries">
  <p>
    <strong>Category:</strong>
    <% @categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </p>
  <% @entries.each do |entry| %>
    <%= render entry %>
    <p>
      <%= link_to "Show this entry", entry %>
    </p>
  <% end %>
</div>

<%= link_to "New entry", new_entry_path %>
