<!DOCTYPE html>
<html>
  <head>
    <title>Daybook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <%= form_with url: logout_path, method: :delete, local: true do %>
        <%= submit_tag "Log Out", class: "logout-button" %>
      <% end %>
    <% else %>
      <%= link_to "Log In", login_path %> |
      <%= link_to "Sign Up", signup_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
